<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
    <h1>H&M</h1>
  </div>
  <div>
    <nav class="nav-bar">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/wedding" routerLinkActive="active">Wedding Details</a>
      <a routerLink="/activities" routerLinkActive="active">Activities</a>
      <a routerLink="/our-story" routerLinkActive="active">Our Story</a>
      <a routerLink="/registry" routerLinkActive="active">Registry</a>
      <a routerLink="/honeymoon" routerLinkActive="active">Honeymoon</a>
    </nav>
  </div>
</div>