.countdown-clock {
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

.save-the-date {
    padding: 10px;
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
}

.temperature {
    text-align: center;
    font-size: 36px;
}

.metric-val {
    font-size: 14px;
}

.as-of {
    font-size: 10px;
}

.weather-icon {
    height: 100px;
    width: 100px;
}

.weather-description {
    font-size: 14px;
}

.text-align-center {
    text-align: center;
}

.padding-top-20px {
    padding-top: 20px;
}

.weather-table {
    margin: 0 auto;
    max-width: 600px;
    font-size: 14px;
}

.table-data-title {
    text-align: left;
}

.table-data-value {
    text-align: right;
}

.dark-sky {
    font-size: 8px;
}