<div class="container">
  <div class="col-md-12">
    <div class="content-container">
      <img class="image" src="../../../assets/images/hm1.JPG" alt="image" />
      <div class="content">
        <p>{{content.hannah_story_1}}</p>
        <p>{{content.hannah_story_2}}</p>
        <p>{{content.hannah_story_3}}</p>
      </div>
      <div class="content">
        <p>{{content.hannah_story_4}}</p>
        <p>{{content.hannah_story_5}}</p>
        <p>{{content.hannah_story_6}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="content-container">
      <img class="image" src="../../../assets/images/hm4.jpg" alt="image" />
      <div class="content">
        <p>{{content.hannah_story_7}}</p>
        <p>{{content.hannah_story_8}}</p>
      </div>
      <div class="content">
        <p>{{content.hannah_story_9}}</p>
        <p>{{content.hannah_story_10}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="content-container col-md-4">
      <img class="image" src="../../../assets/images/hm2.jpg" alt="image" />
    </div>
    <div class="content-container col-md-4">
      <img class="image" src="../../../assets/images/hm3.jpg" alt="image" />
    </div>
    <div class="content-container col-md-4">
      <img class="image" src="../../../assets/images/hm6.jpg" alt="image" />
    </div>
  </div>
</div>