<div class="col-md-12 coming-soon">
    <div class="details">
      <div class="">
        We're still sorting out some details of our special day. Be sure to check back later to see our schedule of events!
      </div>
      <div class="">
          If you have any specific questions, please don't hesitate to reach out to us!
      </div>
    </div>
  </div>

<div class="col-md-12 hotel-area">
  <div class="details">
    <div class="title">Our Venue:</div>
    <div class="">
      <div class="venue-address"><a href="https://www.earlebrown.com/">Earle Brown Heritage Center</a></div>
      <div class="venue-address">6155 Earle Brown Dr</div>
      <div class="venue-address">Brooklyn Center, MN 55430</div>
    </div>
  </div>
</div>

<div class="col-md-12 hotel-area">
  <div class="details">
    <div class="">
        Lucky for all of our out of town guests, there is a hotel attached to the venue via a covered walkway.
      </div>
    <div class="">
      <a href="http://embassysuites3.hilton.com/en/hotels/minnesota/embassy-suites-by-hilton-minneapolis-north-MSPBRES/index.html">Embassy Suites by Hilton Minneapolis North</a>
    </div>
    <div class="">
      Visit the hotel website to book a room for the weekend. There are also a few other hotel options in the nearby area if you prefer.
    </div>
  </div>
</div>
