.col-centered {
    float: none;
    margin: 0 auto;
}

.text-centered {
    text-align: center;
}

.login-form-container {
    min-height: 100vh;
}

.login-form {
    font-size: 20px;
    margin-top: 40vh;
    margin-bottom: 40vh;
    height: 20vh;
}

.login-form > .input-group > input {
    font-size: 20px;
}

.login-error {
    color: rgb(150, 0, 25);
    font-weight: 700;
}