/* You can add global styles to this file, and also import other style files */

.global-font {
    font-family: 'Raleway', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg-login {
    /* background-image: url("/assets/DSC01129.JPG"); */

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-image: url("/assets/bkg_img_gold.png");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.width-67-percent {
    width: 67%
}

.width-33-percent {
    width: 33%
}

.display-inline {
    display: inline-block;
}